# CLASSIFICATION

### PROBLEM DEFINATION
 - Try k-nearest,DecisionTreeClassifier and RandomForestClassifier

#### IMPORT REQUIRED PACKAGES

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sn

#### GET THE DATA

In [3]:
df = pd.read_csv('F:\\GIT DBDA - SUNBEAM\\python-r\\data\\titanic.csv')

In [4]:
df.corr()

            pclass  survived       age     sibsp     parch      fare      body
pclass    1.000000 -0.312469 -0.408106  0.060832  0.018322 -0.558629 -0.034642
survived -0.312469  1.000000 -0.055513 -0.027825  0.082660  0.244265       NaN
age      -0.408106 -0.055513  1.000000 -0.243699 -0.150917  0.178739  0.058809
sibsp     0.060832 -0.027825 -0.243699  1.000000  0.373587  0.160238 -0.099961
parch     0.018322  0.082660 -0.150917  0.373587  1.000000  0.221539  0.051099
fare     -0.558629  0.244265  0.178739  0.160238  0.221539  1.000000 -0.043110
body     -0.034642       NaN  0.058809 -0.099961  0.051099 -0.043110  1.000000

In [6]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   int32
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int32(1), int64(4), object(6)
memory usage: 138.2+ KB

### DATA CLEANSING

In [7]:
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [35]:
df['fare'].fillna(df['fare'].mean(), inplace=True)

In [36]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",0,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",1,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",0,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",1,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",0,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [37]:
from sklearn.preprocessing import LabelEncoder
df['sex'] = LabelEncoder().fit_transform(df['sex'])

In [38]:
x = df[['pclass', 'sex', 'fare']]
y = df[['survived']]

### SPLIT THE DATA

In [62]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.8, random_state=12345)

#### MODEL DEVELOPMENT

In [63]:
# CREATE MODEL USING KNN 
def create_model_knn():
    from sklearn.neighbors import KNeighborsClassifier
    model = KNeighborsClassifier(n_neighbors=5)
    model.fit(x_train, y_train)
    return model
    
def create_model_dt():
    from sklearn.tree import DecisionTreeClassifier
    model = DecisionTreeClassifier()
    model.fit(x_train, y_train)
    return model

def create_model_rf():
    from sklearn.ensemble import RandomForestClassifier
    model = RandomForestClassifier()
    model.fit(x_train, y_train)
    return model

In [64]:
model_knn = create_model_knn()
model_dt = create_model_dt()
model_rf = create_model_rf()

C:\Users\Abhee\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\Abhee\AppData\Local\Temp\ipykernel_12736\2599453067.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

#### RESULT EVALUATION

In [65]:
def result_evaluation(model, model_name):
    from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
    y_pred = model.predict(x_test)
    
    # confusion_metrix
    cm = confusion_matrix(y_test, y_pred)
    # accuracy_score
    acc = accuracy_score(y_test, y_pred)
    # classification_report
    cr = classification_report(y_test, y_pred)
    
    print(f"Confusion metrix= {cm}")
    print(f"Confusion metrix= {acc}")
    print(f"Confusion metrix= {cr}")

In [66]:
result_evaluation(model_knn, 'KNN')

Confusion metrix= [[123  21]
 [ 46  72]]
Confusion metrix= 0.7442748091603053
Confusion metrix=               precision    recall  f1-score   support

           0       0.73      0.85      0.79       144
           1       0.77      0.61      0.68       118

    accuracy                           0.74       262
   macro avg       0.75      0.73      0.73       262
weighted avg       0.75      0.74      0.74       262

In [67]:
result_evaluation(model_dt, 'DT')

Confusion metrix= [[133  11]
 [ 40  78]]
Confusion metrix= 0.8053435114503816
Confusion metrix=               precision    recall  f1-score   support

           0       0.77      0.92      0.84       144
           1       0.88      0.66      0.75       118

    accuracy                           0.81       262
   macro avg       0.82      0.79      0.80       262
weighted avg       0.82      0.81      0.80       262

In [68]:
result_evaluation(model_rf, 'RF')

Confusion metrix= [[133  11]
 [ 37  81]]
Confusion metrix= 0.816793893129771
Confusion metrix=               precision    recall  f1-score   support

           0       0.78      0.92      0.85       144
           1       0.88      0.69      0.77       118

    accuracy                           0.82       262
   macro avg       0.83      0.81      0.81       262
weighted avg       0.83      0.82      0.81       262